.container {
    display: flex;
    flex-wrap: wrap;
}

.deviceBox {
    margin: 12px;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 260px;
    background: cornflowerblue;
}

.deviceBox_header {

}

.deviceBox_img {

}

.deviceBox_footer {

}
